@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap');

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  margin: 0;
  padding: 0;
  height: 100vh;
}

h1 {
  margin-top: 10px;
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-size: 2rem;
}

canvas {
  border:1px solid #000;
}

#currFilter {
  display: none;
}

#app {
  width: 800px;
  margin: 0 auto;
  background-color: #ffe;
  height: 100%;
}

#saveCanvas {
  display: none;
}

#imgContainer {
  display: flex;
  justify-content: center;
}

.formContainer {
  text-align: center;
}