@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap');

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-family: 'Amatic SC', cursive;
}

canvas {
  border:1px solid #000;
}

#currFilter {
  display: none;
}

#app {
  width: 800px;
  margin: 0 auto;
}